# load .env from the current directory
dotenv_if_exists
watch_file .env

# activate the Poetry venv automatically
layout poetry
watch_file pyproject.toml poetry.lock

#use flake
#watch_file flake.nix flake.lock
