name: Linting

on:
  push:

jobs:
  linters:
    runs-on: ubuntu-latest
    env:
      UV_LINK_MODE: copy
    steps:
      - uses: actions/checkout@v4

      - uses: extractions/setup-just@v3

      - name: Install uv
        uses: astral-sh/setup-uv@v6
        with:
          enable-cache: true

      # Has to be kept in sync with the pre-commit configuration.
      - name: Set up Python
        run: uv python install 3.14

      - name: set PY
        run: echo "PY=$(python -VV | sha256sum | cut -d' ' -f1)" >> $GITHUB_ENV

      - uses: actions/cache@v3
        with:
          path: ~/.cache/pre-commit
          key: pre-commit|${{ env.PY }}|${{ hashFiles('.pre-commit-config.yaml') }}
      - name: Check if the pre-commit hook passes
        run: just run-pre-commit-all
